<fury-page-layout mode="card">

  <fury-page-layout-header>
    <fury-breadcrumbs [crumbs]="['Page Layouts']" current="Card Tabbed"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content>
    <fury-card>
      <mat-tab-group>
        <mat-tab label="Main Tab">
          <fury-card-content class="padding-top">
            <fury-page-layout-demo-content></fury-page-layout-demo-content>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="Side Tab">
          <fury-card-content class="padding-top">
            <fury-page-layout-demo-content></fury-page-layout-demo-content>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="Extra Tab">
          <fury-card-content class="padding-top">
            <fury-page-layout-demo-content></fury-page-layout-demo-content>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="Additional Tab">
          <fury-card-content class="padding-top">
            <fury-page-layout-demo-content></fury-page-layout-demo-content>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="Another Tab">
          <fury-card-content class="padding-top">
            <fury-page-layout-demo-content></fury-page-layout-demo-content>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="One More Tab">
          <fury-card-content class="padding-top">
            <fury-page-layout-demo-content></fury-page-layout-demo-content>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="Definitely the last Tab">
          <fury-card-content class="padding-top">
            <fury-page-layout-demo-content></fury-page-layout-demo-content>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="Whoops another Tab">
          <fury-card-content class="padding-top">
            <fury-page-layout-demo-content></fury-page-layout-demo-content>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="And one last Tab">
          <fury-card-content class="padding-top">
            <fury-page-layout-demo-content></fury-page-layout-demo-content>
          </fury-card-content>
        </mat-tab>
      </mat-tab-group>
    </fury-card>
  </fury-page-layout-content>

</fury-page-layout>
