@font-face {
  font-family: 'material-outline-icons';
  src: url('/assets/icons/material/material-outline-icons.ttf') format('truetype'),
  url('/assets/icons/material/material-outline-icons.woff') format('woff'),
  url('/assets/icons/material/material-outline-icons.svg#material-outline-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'material-outline-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
