@import "var";

.toolbar-notifications {
  position: relative;
}

.button {
  height: 100%;
  padding: 0;
  min-width: $toolbar-button-width;
  border-radius: 0;
}

.dropdown {
  position: absolute;
  top: $toolbar-height;
  right: 0;
  min-width: 350px;
  max-width: 350px;
  z-index: -1;
  transform: translateY(-110%) scale(0);
  transform-origin: top right;
  visibility: hidden;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  transition: transform .4s cubic-bezier(.25, .8, .25, 1), visibility .4s cubic-bezier(.25, .8, .25, 1);

  @media screen and (max-width: 599px) {
    min-width: 100vw;
    max-width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
  }

  &.open {
    transform: translateY(0) scale(1);
    visibility: visible;
  }
}

.dropdown-header {
  padding: 16px 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.dropdown-card-content {
  padding: 0;
}

.dropdown-content {
  overflow: hidden;
  max-height: 256px;
  padding: 0;
}

.notification {
  min-height: 64px;
  padding: 0 $spacing 0 $spacing / 1.5;
  position: relative;
  cursor: pointer;

  .icon {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 18px;
    margin-right: 13px;
    text-align: center;
    border-radius: 50%;
  }

  .label {
    @include mat-typography-level-to-styles($config, body-1);
    font-weight: 500;
  }

  .time {
    @include mat-typography-level-to-styles($config, caption);
  }

  .close {
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
  }
}

.empty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: $spacing;
  padding-bottom: $spacing;
}

.dropdown-footer {
  display: block;
  line-height: 24px;
  border-top-width: 1px;
  border-top-style: solid;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}
