<fury-page-layout>

  <fury-page-layout-header>
    <fury-breadcrumbs [crumbs]="['Page Layouts']" current="Simple"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content>
    <fury-page-layout-demo-content></fury-page-layout-demo-content>
  </fury-page-layout-content>

</fury-page-layout>
