<fury-page [fxLayoutGap]="gap" class="dashboard" fxLayout="column">
  <div fxFlex="noshrink" fxLayout="column" [fxLayoutGap]="gap" fxLayout.gt-lg="row">
    <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)"
         fxLayout.gt-sm="row">

      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="234" label="Active Servers"
                              [background]="'#009688'" color="white"
                              icon="cloud"></fury-quick-info-widget>
      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="5" label="Errors founded"
                              [background]="'#e91e63'" color="white"
                              icon="report_problem"></fury-quick-info-widget>
      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="10" label="Inactive Servers"
                              [background]="'#03a9f4'" color="white"
                              icon="cloud_off"></fury-quick-info-widget>

    </div>
  </div>
  <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-lg="row">

    <!--SERVERS LIST-->
    <fury-card>
      <fury-card-header>
        <fury-card-header-heading>{{title}}</fury-card-header-heading>
        <fury-card-header-subheading>{{subtitle}}</fury-card-header-subheading>
        <fury-card-header-actions>
          <button mat-icon-button (click)="reload()">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </fury-card-header-actions>
      </fury-card-header>
      <fury-card-content class="card-content">
        <mat-list class="list mat-elevation-z1" style="padding-top:0px;">
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let item of servers" (click)="see(item)" style="cursor:pointer;">
            <img mat-list-avatar src="assets/img/servers/docker.png" style="object-fit: contain;border-radius:0px;">
            <div style="width:100%;margin-left:10px;display:flex;">
              <div>
                <h4 matLine style="margin:0px;padding:0px;">{{item.name}}</h4>
                <p matLine style="margin:0px;padding:0px;">
                  <span>{{item.status}}</span>
                </p>
              </div>
              <div style="margin-left:30px;display:flex;justify-content:center;align-items:center;">
                <mat-icon matBadge="15" matBadgeColor="primary" matTooltip="CONTAINERS" style="font-size:25px;margin-left:20px;cursor:pointer;">dns</mat-icon>
                <mat-icon matBadge="3" matBadgeColor="primary" matTooltip="STACKS" style="font-size:25px;margin-left:20px;cursor:pointer;">view_agenda</mat-icon>
                <div style="margin-left:20px;display:flex;justify-content:center;align-items:center;">
                  <mat-icon color="primary" matTooltip="GOOD" style="font-size:14px;display:flex;width:unset;height:unset;margin-left:10px;margin-right:5px;cursor:pointer;">healing</mat-icon><span style="font-size:15px;">3</span>
                  <mat-icon color="warn" matTooltip="FAIL" style="font-size:14px;display:flex;width:unset;height:unset;margin-left:10px;margin-right:5px;cursor:pointer;">healing</mat-icon><span style="font-size:15px;">1</span>
                </div>
                <div style="margin-left:20px;height:100%;display:flex;justify-content:flex-start;align-items:center;">
                  <div style="margin-top:10px;">
                    <p style="margin:0px;padding:0px;display:flex;justify-content:flex-start;align-items:center;">
                      <span style="font-size:12px;"><mat-icon style="font-size:14px;color:#fff">grid_on</mat-icon>3 Volumens</span>
                    </p>
                    <p style="margin:0px;padding:0px;display:flex;justify-content:flex-start;align-items:center;">
                      <span style="font-size:12px;"><mat-icon style="font-size:14px;color:#fff">layers</mat-icon>1 Images</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </fury-card-content>
      <fury-loading-overlay [isLoading]="isLoading"></fury-loading-overlay>
    </fury-card>
    <!--END SERVERS LIST-->


    <!--MENU OPTIONS LIST-->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon> settings</mat-icon>
        <span> Settings </span>
      </button>
      <button mat-menu-item>
        <mat-icon> more</mat-icon>
        <span> More Info </span>
      </button>
    </mat-menu>
    <!--END MENU OPTIONS LIST-->


  </div>
</fury-page>
