<!--<fury-page [fxLayoutGap]="gap" class="dashboard" fxLayout="column">-->
<!--  <fury-breadcrumbs current="Server"></fury-breadcrumbs>-->
<!--  <div fxFlex="noshrink" fxLayout="column" [fxLayoutGap]="gap" fxLayout.gt-lg="row" style="margin-top:15px;">-->
<!--    <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="SERVER A" label="10 containers"-->
<!--                            [background]="'#009688'" color="white"-->
<!--                            icon="cloud"></fury-quick-info-widget>-->
<!--  </div>-->
<!--  <div fxFlex="noshrink" fxLayout="column" [fxLayoutGap]="gap" fxLayout.gt-lg="row" style="margin-top:15px;">-->
<!--    <div fxFlex="grow" class="route-animations-elements">-->
<!--      <fury-list class="list" fxFlex="grow" fxLayout="column">-->
<!--        <table [dataSource]="dataSource" class="table" mat-table matSort>-->

<!--          &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--                The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--          &lt;!&ndash; Model Properties Column &ndash;&gt;-->
<!--          <ng-container *ngFor="let column of columns">-->
<!--            <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">-->
<!--              <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>-->
<!--              <td *matCellDef="let row" mat-cell>{{ row[column.property] }}</td>-->
<!--            </ng-container>-->
<!--          </ng-container>-->


<!--          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>-->
<!--          &lt;!&ndash;suppress UnnecessaryLabelJS &ndash;&gt;-->
<!--          <tr *matRowDef="let row; columns: visibleColumns;" mat-row></tr>-->
<!--        </table>-->

<!--        <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>-->

<!--      </fury-list>-->
<!--    </div>-->
<!--  </div>-->
<!--</fury-page>-->
