<fury-page-layout>

  <fury-page-layout-header>
    <fury-breadcrumbs [crumbs]="['Page Layouts']" current="Simple Tabbed"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content class="padding-0">
    <mat-tab-group>
      <mat-tab label="Main Tab">
        <div class="padding">
          <fury-page-layout-demo-content></fury-page-layout-demo-content>
        </div>
      </mat-tab>
      <mat-tab label="Side Tab">
        <div class="padding">
          <fury-page-layout-demo-content></fury-page-layout-demo-content>
        </div>
      </mat-tab>
      <mat-tab label="Extra Tab">
        <div class="padding">
          <fury-page-layout-demo-content></fury-page-layout-demo-content>
        </div>
      </mat-tab>
    </mat-tab-group>
  </fury-page-layout-content>

</fury-page-layout>
