<h1 class="margin-0">Cinematic Mountain View</h1>
<h3 class="margin-top-0 secondary-text">Example Page Layout</h3>

<p>Aenean eleifend ante maecenas pulvinar montes lorem et pede dis dolor pretium
  donec dictum. Vici consequat justo enim. Venenatis eget adipiscing luctus lorem. Adipiscing veni amet luctus
  enim sem libero tellus viverra venenatis aliquam. Commodo natoque quam pulvinar elit.</p>
<p>Eget aenean tellus venenatis. Donec odio tempus. Felis arcu <a [routerLink]="[]">pretium metus</a> nullam quam
  aenean sociis quis sem neque vici libero. Venenatis nullam fringilla pretium magnis aliquam nunc vulputate
  integer augue ultricies cras. Eget viverra feugiat cras ut. Sit natoque montes tempus ligula eget vitae pede
  rhoncus maecenas consectetuer commodo condimentum aenean.</p>
<h2 id="tincidunt-veni-tellus-orci-aenean-consectetuer">Tincidunt veni tellus orci aenean consectetuer</h2>
<p>Sociis consequat adipiscing sit curabitur donec sem luctus cras natoque vulputate dolor eget dapibus. Nec
  vitae eros ullamcorper laoreet dapibus mus ac ante viverra. A aenean sit augue curabitur et parturient nisi
  sed enim. Nulla nec quis sit quisque sem commodo ultricies neque. Lorem eget venenatis dui ante luctus
  ultricies tellus montes. Quis in sapien tempus.</p>
<img src="assets/img/demo/mountain-cinematic.jpg">
<p>Aliquam enim arcu ut. Vulputate pede nisi arcu ut nullam. Ac elit ut ullamcorper aenean dolor pede nec
  aliquam. Cum enim a. Ut dui phasellus cras. Vivamus pulvinar justo faucibus nec semper lorem nullam.</p>
<blockquote>Quis adipiscing ligula donec ullamcorper tellus. Id odio vulputate aliquam nullam vitae
  tincidunt semper etiam quam donec quis.
</blockquote>
<p>Ut pede leo libero cum ridiculus quis arcu natoque ullamcorper eget nulla sociis. Semper condimentum quam
  integer lorem. Amet ac <em>dis semper eget</em> a dictum ligula. Justo eu ut. Id ridiculus lorem ut amet dis
  orci tellus etiam aenean pellentesque. Ultricies dui vel ipsum eleifend dolor ante donec justo nullam.</p>
<h2>Eu ridiculus fringilla</h2>
<p>Nam dictum vitae penatibus ligula id sem eget ante faucibus feugiat nascetur vel. Pretium vitae mus rhoncus
  sit maecenas quam felis orci adipiscing. Aenean parturient eget quam. Leo vel lorem sociis phasellus arcu
  dolor. Dis donec eu pede.</p>
<p>Venenatis ante veni nullam ridiculus penatibus <a [routerLink]="[]">vidi eu consectetuer</a> integer. Vulputate
  ipsum lorem nascetur rhoncus. Aliquam vitae elit blandit enim eget laoreet. Dapibus leo sociis quis nulla
  adipiscing amet integer sem ullamcorper in maecenas eu imperdiet.</p>
<p>Ante blandit amet ultricies ut in nam massa rhoncus. Eget eu massa nisi quis viverra dapibus aliquam. Id
  ridiculus lorem ut amet dis orci tellus etiam aenean pellentesque.</p>
<p>Maecenas tempus aenean nulla <strong>viverra neque</strong> vel nec cras justo sapien condimentum ut
  varius. Blandit sem etiam vel nullam vulputate sociis amet varius dolor. Vitae a ut. Etiam rhoncus ante sit.
  Nisi nullam donec dui eu phasellus a elementum elit faucibus nec. Eros eu pulvinar pede luctus sit aenean
  lorem.</p>
