<fury-page-layout mode="card">

  <fury-page-layout-header>
    <fury-breadcrumbs [crumbs]="['Page Layouts']" current="Card"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content>
    <fury-card>
      <fury-card-header>
        <fury-card-header-heading>Blog Post</fury-card-header-heading>
      </fury-card-header>

      <fury-card-content>
        <fury-page-layout-demo-content></fury-page-layout-demo-content>
      </fury-card-content>
    </fury-card>
  </fury-page-layout-content>

</fury-page-layout>
